$mainBlue: #2680c0;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container {
  width: 100%;
  height: 9vh;
  background-color: $mainBlue;
  color: white;
  nav {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .total-container,
  h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 5000;
    letter-spacing: 5px;
    position: relative;
  }
  .total-container {
    height: 100px;
  }
  span {
    position: absolute;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    border-radius: 50%;
    background-color: #85c6f4;
    font-size: 1rem;
    top: -15px;
    left: 18px;
  }
}
.loading {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 20vh;
}
.bag {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  width: 30%;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
}
.context-container {
  border-bottom: 2px solid black;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}
.image {
  width: 100px;
  height: 100px;
}
.article {
  padding: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .header {
    display: flex;

    .price {
      h4,
      p {
        font-weight: 450;
        letter-spacing: 2px;
        font-size: 0.875rem;
      }
      p {
        padding-top: 1vh;
        color: #617d98;
      }
      h4 {
        text-transform: capitalize;
      }
      .btn-remove {
        color: $mainBlue;
        border: none;
        background-color: transparent;
        letter-spacing: 4px;
        font-size: 0.655rem;
        cursor: pointer;
      }
    }
  }
}
.arrow-container {
  text-align: center;
  color: #2680c0;
  p {
    color: black;
  }
}
.footer-container {
  width: 80%;
  margin: auto;
}
.total {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  h4,
  span {
    font-weight: 450;
    letter-spacing: 3px;
  }
}

.button {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 8vh;
  button {
    background-color: transparent;
    border: 1px solid #bb2525;
    color: #bb2525;
    padding: 10px 30px 10px 30px;
    font-size: 0.8rem;
    letter-spacing: 3px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s;
    margin-bottom: 3vh;
  }
}
button:hover {
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .article {
    .image {
      width: 50px;
      height: 50px;
    }
  }
}
